@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Urban Trivia";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title.</h1>
            <h2>Trivia with an Urban twist</h2>
        </hgroup>
        <p>
            Have you ever thought trivia games were just too <strong>boring</strong>?
            <a href="http://www.urbandictionary.com/" title="Urban Dictionary">Urban Dictionary</a>
            is the dictionary of the 21st century! These words are volgur and offensive.. Don't view them at any cost.
            </p>
    </div>
</section>
}

<h3>Get started with the following:</h3>

<ol class="round">
    <li class="one">
        <h5>Register</h5>
        Registration helps us keep up with the highest scores! You can play the game anonymously of course, but if you do your an Alaskan Firedragon!
        <a href="http://www.urbandictionary.com/define.php?term=Alaskan%20Firedragon&defid=1147443">Learn more…</a>
    </li>

    <li class="two">
        <h5>Sign in</h5>
        Sign in it's easy! We don't care about your security so use any password you want.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245140">Learn more…</a>
    </li>

    <li class="three">
        <h5>Play!</h5>
        Play to win high stakes trivial combat!
        <a href="http://go.microsoft.com/fwlink/?LinkId=245143">Learn more…</a>
    </li>
</ol>
    